.MuiDateCalendar-root {
  width: 100% !important;
  height: 100% !important;
}

.MuiPickersCalendarHeader-root {
  padding-left: 12px !important;
}

.MuiYearCalendar-root {
  width: auto !important;
  column-gap: 4px !important;
}

.MuiPickersCalendarHeader-labelContainer {
  font-size: clamp(14px, 1.2vw, 16px) !important;
}

.MuiPickersDay-root {
  font-size: clamp(10px, 0.8vw, 12px) !important;
}

.MuiDayCalendar-slideTransition {
  min-height: 230px !important;
}

.MuiDayCalendar-weekDayLabel {
  font-size: clamp(12px, 1vw, 14px) !important;
}

.MuiYearCalendar-button {
  font-size: clamp(12px, 1vw, 14px) !important;
  width: 52px !important;
}

@media screen and (max-width: 767px) {
  .MuiPickersDay-root {
    height: 27px !important;
  }
}
