:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  background: var(--bg-primary) !important;
  color: var(--content-primary) !important;
  height: 100dvh;
  min-height: 500px;
}

body {
  font-family: "Hanken Grotesk" !important;
  height: 100svh;
  box-sizing: border-box;
}

.bg-switch {
  transition: left 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body.tour-active::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  pointer-events: none;
}

body.tour-active {
  position: relative;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.cell-flash-fade {
  background-color: transparent !important;
  transition:
    background-color 0.4s ease-out,
    color 0.1s ease-out;
}

.cell-flashing-up {
  background-color: var(--green-active) !important;
  transition: background-color 0s;
}
.cell-flashing-down {
  background-color: var(--red-active) !important;
  transition: background-color 0s;
}
.cell-flashing-ceil {
  background-color: var(--purple-active) !important;
  transition: background-color 0s;
}
.cell-flashing-floor {
  background-color: var(--blue-active) !important;
  transition: background-color 0s;
}
.cell-flashing-ref {
  background-color: var(--yellow-active) !important;
  transition: background-color 0s;
}
.cell-flashing-volume {
  background-color: var(--border-secondary) !important;
  transition: background-color 0s;
}
