/* HTML: <div class="progess-loader"></div> */
.progess-loader {
  height: 4px;
  width: 220px;
  --c: no-repeat linear-gradient(#7c3aed 0 0);
  background: var(--c), var(--c), #e9d4fa;
  background-size: 60% 100%;
  animation: l16 1s infinite;
}
@keyframes l16 {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}

/* HTML: <div class="text-loader"></div> */
.text-loader {
  position: relative;
  font-family: "Hanken Grotesk";
  font-weight: bold;
  text-transform: uppercase;
}

/* chữ trắng nền */
.text-loader span {
  color: #fff;
}

/* shimmer layer */
.text-loader .shimmer {
  position: absolute;
  inset: 0;

  color: transparent;
  background: linear-gradient(
      -60deg,
      transparent 40%,
      #7c3aed 50%,
      transparent 60%
    )
    0 / 300% 100% no-repeat;

  -webkit-background-clip: text;
  background-clip: text;

  animation: shimmer 0.8s linear infinite;
  pointer-events: none;
}

@keyframes shimmer {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}

/* HTML: <div class="loader-circle"></div> */
.loader-circle {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #954baf 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #592d69);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
