.ag-theme-quartz-custom {
  --ag-background-color: var(--bg-primary) !important;
  --ag-foreground-color: var(--content-primary) !important;
  --ag-header-background-color: var(--bg-secondary) !important;
  --ag-odd-row-background-color: var(--bg-tertiary) !important;
  --ag-border-color: var(--border) !important;
  --ag-font-size: clamp(10px, 0.8vw, 12px);
}

.ag-theme-quartz-custom {
  border-radius: 8px;
}

.ag-body-horizontal-scroll-viewport,
.ag-body-viewport {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
.ag-body-viewport::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
.ag-body-viewport::-webkit-scrollbar-track {
  background: transparent;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
.ag-body-viewport::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 8px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover,
.ag-body-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}

/* scroll ngang pin */
.ag-horizontal-left-spacer {
  display: none !important;
}

.ag-header-cell-comp-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500 !important;
}

.ag-header-cell-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-header-cell,
.ag-header-group-cell {
  padding: 0;
  border-right: 1px solid var(--border);
}

.ag-header-cell-label,
.ag-header-group-cell-label {
  padding: 0 !important;
}

:where(.ag-ltr) .ag-cell:not(.ag-cell-inline-editing),
:where(.ag-ltr) .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  padding: 0;
  border-right: 1px solid var(--border);
  font-size: clamp(10px, 0.8vw, 12px);
  font-weight: 500 !important;
  text-align: center;
}
