.ag-theme-quartz-custom {
  --ag-background-color: var(--bg-primary) !important;
  --ag-foreground-color: var(--content-primary) !important;
  --ag-header-background-color: var(--bg-purple) !important;
  --ag-odd-row-background-color: var(--bg-purple) !important;
  --ag-border-color: var(--border) !important;
  --ag-font-size: clamp(10px, 0.8vw, 12px);
  --ag-inherited-font-family: "Hanken Grotesk";
}

.ag-floating-top {
  overflow: hidden !important;
}

.ag-theme-quartz-custom {
  border-radius: 8px;
  border-bottom: none !important;
}

.ag-body-horizontal-scroll-viewport,
.ag-body-vertical-scroll,
.ag-body-viewport {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
.ag-body-vertical-scroll::-webkit-scrollbar,
.ag-body-viewport::-webkit-scrollbar {
  height: 6px !important;
  width: 6px !important;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
.ag-body-vertical-scroll::-webkit-scrollbar-track,
.ag-body-viewport::-webkit-scrollbar-track {
  background: transparent !important;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
.ag-body-vertical-scroll::-webkit-scrollbar-thumb,
.ag-body-viewport::-webkit-scrollbar-thumb {
  background-color: #475569 !important;
  border-radius: 8px !important;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover,
.ag-body-vertical-scroll::-webkit-scrollbar-thumb:hover,
.ag-body-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #64748b !important;
}

/* scroll ngang pin */
.ag-horizontal-left-spacer {
  display: none !important;
}

.ag-header-cell-comp-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500 !important;
}

.ag-header-cell-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-header-cell,
.ag-header-group-cell {
  border-right: 1px solid var(--border) !important;
}

.ag-header-cell-label,
.ag-header-group-cell-label {
  padding: 0 !important;
}

.ag-cell {
  padding: 0 !important;
  font-size: clamp(10px, 0.8vw, 12px) !important;
  font-weight: 500 !important;
  text-align: center !important;
  border-right: 1px solid var(--border) !important;
}

.ag-layout-normal {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ag-header-cell,
.ag-header-group-cell {
  padding: 0 !important;
}
